.main-head{
    height: 150px;
    background: #FAFAFA;
   
}

.sidenav {
    height: 100%;
    /*background-color: #A9D0F5;*/
    background-color: #17a2b8;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 25%; 
    }

    .sidenav{
        width: 25%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 60%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #FAFAFA;
}

.login-main-text h2{
    font-weight: 300;
    color: #FAFAFA;
}

.login-main-text>p {
	color: #FAFAFA;
}