@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.btn-action {
    background-color: #00BFFF !important;
    color: #FAFAFA;
    /*margin-bottom: 2%;*/
}   
.btn-action:hover{
 	background-color: #fff !important;
    color: #00BFFF;
    border-color: #00BFFF;
}

.erro {
	color: #CE2020;
    font-style: italic;
    display: block;
    padding-bottom: 1%;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content-default {
    width: 100%;
    padding: 1%;
    min-height: 100vh;
    transition: all 0.3s;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h1, h2, h3, label {
	font-family: 'Poppins', sans-serif;	
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}